services:
  user-service:
    build: .
    ports:
      - "8001:8001"
    env_file:
      - .env
    command: python -m uvicorn src.main:app --host 0.0.0.0 --port 8001 --reload
    networks:
      - dev-network

networks:
  dev-network:
    external: true
    name: shared-codesnap-network